__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
mlruns/
mlflow.db
artifacts/*
!artifacts/.gitkeep
results/*
!results/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.db
.env
.idea/
.vscode/
